*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------navbar  style ------------ */

.navbar-container .logo-toggler-cont {
  width: 375px;
  height: 92px;
}
.logo-toggler-cont {
  position: sticky;
  top: 0;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branding-logo {
  border: 1px solid red;
}

.nav-toggler {
  border: 1px solid goldenrod;
}

/* ------------------------
.headline-container style
----------------------------*/

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  width: 375px;
  height: 590px;
  background-color: black;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-image: url('/media/images/headline.png');
}

.social-media-logo ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
}

.social-media-logo img {
  height: 40px;
  width: 40px;
  padding: 8px;
}

.headline-text h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ff6b00;
}

.headline-text h3 {
  color: aliceblue;
  font-size: 15px;
}

.headline-text p {
  color: rgb(250, 245, 245);
  font-size: 10px;
}
