/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500&display=swap');

body {
  font-family: 'Crete Round', serif;
  font-family: 'Inter', sans-serif;
}

/* navbar container style */
.navbar-container {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  width: 375px;
  height: 92px;
  display: flex;
  justify-content: space-around;
  background-color: #3c3a39;
}

header h1 {
  color: white;
}

nav li {
  list-style-type: none;
  display: none;
}

nav a {
  text-decoration: none;
}
